@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  @apply font-medium text-[#646cff];
}
a:hover {
  @apply text-[#535bf2];
}

.header{
  font-family: Helvetica;
  font-size: 79px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  
  z-index: 1;
}
.header-flex-container{
  background-color: #000000;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
#header-line{
  background-color: #ffffff; 
  height: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  transform:translate(0,-2000%);
  z-index: 1;
}
.container{
  display: flex;
  justify-content: space-evenly; /* allocateas extra space inbetween or around our elements */
  align-items: center;
  width: 90vw;
  margin: 5px;
  /* centers element */
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
}
.box{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 3px solid black;
  margin: 5% 0;
  border-radius: 20px;
  transition: all 0.3s;
  z-index: 1;
  background-color: #000000;
}
.box-text{
  font-family: Helvetica;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  z-index: 1;

}
.card-img-center{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 50%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 50%;
  z-index: 1;
}
.box-info{
  font-family: Helvetica;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h5{
  z-index: 1;
}